<table class = "table">
    <thead>
        <tr>
            <th scope = "col">#</th>
            <th scope = "col">Surname</th>
            <th scope = "col">First Name</th>
            <th scope = "col">Middle Name</th>
            <th scope = "col">Suffix</th>
            <th scope = "col">Age</th>
            <th scope = "col">Birthday</th>
            <th scope = "col">Birthplace</th>
            <th scope = "col">Address</th>
            <th scope = "col">Contact Number</th>
            <th scope = "col">Religion</th>
            <th scope = "col">Sex</th>
            <th scope = "col">Civil Status</th>
            <th scope = "col">Type of Disability</th>
            <th scope = "col">Cause of Disability</th>
            <th scope = "col">Email Address</th>

        </tr>
    </thead>
<tbody>
    <tr *ngFor = "let registers of Register; let i = index">
        <th scope = "row">{{i + 1}}</th>
        <td>{{ registers.Surname }}</td>
        <td>{{ registers.First_Name }}</td>
        <td>{{ registers.Middle_Name }}</td>
        <td>{{ registers.Suffix }}</td>
        <td>{{ registers.Age }}</td>
        <td>{{ registers.Birthday }}</td>
        <td>{{ registers.Birthplace }}</td>
        <td>{{ registers.Address }}</td>
        <td>{{ registers.Contact_Number }}</td>
        <td>{{ registers.Religion }}</td>
        <td>{{ registers.Sex }}</td>
        <td>{{ registers.Civil_Status }}</td>
        <td>{{ registers.Type_of_Disability }}</td>
        <td>{{ registers.Cause_of_Disability }}</td>
        <td>{{ registers.Email_Address }}</td>
</table>

