<h2>Emergency Hotlines</h2>

<mat-card class = "space">
    <mat-card-title>Alfonso</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 634 8365</li>
        <li>PNP:  0906 536 6135 / 0998 598 5614 </li>
        <li>BFP : 0929 663 2424 / 0915 602 2113 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space2">
    <mat-card-title>Amadeo</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space3">
    <mat-card-title>Bacoor</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space4">
    <mat-card-title>Carmona</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space5">
    <mat-card-title>Cavite City</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space6">
    <mat-card-title>Dasmarinas</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space7">
    <mat-card-title>General Emilio Aguinaldo</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space8">
    <mat-card-title>General Mariano Alvarez</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space9">
    <mat-card-title>General Trias</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space10">
    <mat-card-title>Imus</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space11">
    <mat-card-title>Indang</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space12">
    <mat-card-title>Kawit</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space13">
    <mat-card-title>Magallanes</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space14">
    <mat-card-title>Maragondon</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space15">
    <mat-card-title>Mendez</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space16">
    <mat-card-title>Naic</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space17">
    <mat-card-title>Noveleta</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space18">
    <mat-card-title>Rosario</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space19">
    <mat-card-title>Silang</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space20">
    <mat-card-title>Tagaytay</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space21">
    <mat-card-title>Tanza</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space22">
    <mat-card-title>Ternate</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>
<br>
<mat-card class = "space23">
    <mat-card-title>Trece Martires</mat-card-title>
    <mat-card-content>
        <li> MUNICIPALITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE: 0917 504 7419</li>
        <li>PNP: (046) 483-3022/ 0965 199 3111 / 0998 598 5615 </li>
        <li>BFP : 046 483 2490 / 0915 601 6805 </li>
    </mat-card-content>
</mat-card>