<mat-toolbar>
    <span><mat-icon class = "spacer">map</mat-icon>Practice</span>

    <div class = "spacer"></div>


    <button mat-raised-button><a routerLink = "login" routerLinkActive = "active">Login</a></button>
    <button mat-button><a routerLink = "dashboard" routerLinkActive = "active">dashboard</a></button>
    <button mat-button><a routerLink = "home" routerLinkActive = "active">Home</a></button>
    <button mat-button><a routerLink = "tracking" routerLinkActive = "active">Tracking</a></button>
    <button mat-button><a routerLink = "about" routerLinkActive = "active">About</a></button>
    <button mat-button><a routerLink = "hotlines" routerLinkActive = "active">Hotlines</a></button>
    <button mat-button><a routerLink = "admin" routerLinkActive = "active">AdminTable</a></button>
    <button mat-button><a routerLink = "admin-map" routerLinkActive = "active">AdminTracking</a></button>

    <button mat-raised-button color="primary" (click)="SignOut()">Logout</button>

</mat-toolbar>

<router-outlet></router-outlet> 
